.header {
    height: 130px;
    padding: 60px;
}
    
    h1 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 3vw;
}

.btn {
width: 125px;
margin-bottom: 5px;
font-family: 'Montserrat', sans-serif;
font-size: 10px;
height: 40px;
border-radius: 10px;
margin: 5px, 10px, 5px, 5px;
}

.btn-glossWhite {
    border: 1px solid;
    margin-bottom: 5px;

}
.btn-ultraWhite {
    border: 1px solid;
}

.desc {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    height: 40px;
    width: 125px;
    display: block;

}

#typeUnder {
    text-align: center
}